.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

.table {
  width: 100%;
}
.table > thead > tr {
  @for $i from 2 through 5 {
    th:nth-child(#{$i}) {
      width: 6rem;
      text-align: center;
    }
  }
}

.table tbody h5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.actions {
  button {
    margin: 0.1rem;
  }
}
