$danger: #dc3545; 
$orange: #ff5733;
// $background-color: #f0ffffa6;
$background-color: #fff;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  max-height: 8.5rem;
  overflow-y: scroll;
}

// Category filter bar
.nav .nav-item {
  color: #5733ff;
  // background-color: #cafafaa6;
  background-color: darken( $background-color, 4%);
  font-weight: 600;
  .nav-link.active, .nav-link.active:hover {
    color: #fff;
    background-color: $orange;
  }
  .nav-link:hover {
    background-color: lightgrey;
  }
  &:nth-child(1) {
    color: #000;
    background-color: $background-color;
  }
}

.navbar {
  padding: 0;
  .navbar-nav .nav-item .nav-link {
    padding: 15px;
  }
  .active {
    border-bottom: 3px solid $orange;
  }
  a {
    cursor: pointer;
  }
}

.jumbotron img {
  width: 60%;
}

.fa-star,
.fa-star-o,
.fa-star-half-o {
  color: #ffd200;
}

.card-product {
  cursor: pointer;
  .card-img-top {
    max-height: 12rem;
  }
  &:hover {
    transform: scale(1.01);
  }
  #product-name {
    max-height: 4.6rem;
    overflow: hidden;
  }
}

.card {
  background-color: #f6f9fc;
}

#category-bar {
  .nav-item {
    margin: 0.1rem;
  }
}

#not-found-page {
  .fa.fa-frown-o {
    font-size: 7rem;
  }
  h1 {
    font-weight: 600;
  }
}

.error-input {
  color: $danger;
  font-size: 0.8rem;
}